<div id="app-deck-metadata-region"></div>

<div id="app-deck-cards-region"></div>

<div class="btn-group btn-group-centered deck-controls">
		<button class="btn btn-clean btn-clean-primary deck-cancel">{{localize 'common.default_confirm_dialog_button_cancel_label'}}</button>
		<button class="btn btn-clean btn-clean-primary deck-done">{{localize 'collection.deck_save_button_label'}}</button>
</div>

<div class="panel-controls btn-group deck-import-export">
		<input class="deck-card-ids" placeholder="{{localize 'collection.import_deck'}}" data-toggle="popover" data-placement="bottom" data-content="Ctrl+C"/>
		<button class="deck-import btn-panel btn btn-primary" data-toggle="tooltip" data-placement="left" title="{{localize 'collection.import_deck'}}"><span class="fa fa-sign-in"></span></button>
		<button class="deck-export btn-panel-alt btn btn-primary" data-toggle="tooltip" data-placement="left" title="{{localize 'collection.export_deck'}}"><span class="fa fa-copy"></span></button>
</div>
