<div class="rift-runs-empty-view">
	<h1>{{localize 'rift.empty_rift_instruction_header'}}</h1>
	<p>{{localize 'rift.empty_rift_instruction_p1'}}</p>
	<p>{{localize 'rift.empty_rift_instruction_p2'}}</p>
	<p>{{localize 'rift.empty_rift_instruction_p3'}}</p>
	<p>{{localize 'rift.empty_rift_instruction_p4'}}</p>
</div>
