<div class="modal-dialog">
	<button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
	<div class="modal-content">
		<div class="modal-header">
			<ul id="watch_tabs_type" class="nav nav-tabs">
				<li id="live_streams_tab_item" role="select" data-value="live"><a><i class="fa fa-circle"></i> {{localize 'watch.live_streams_label'}}</a></li>
				<li role="select" data-value="replays" class="active"><a>{{localize 'watch.replays_label'}}</a></li>
			</ul>
			<div id="watch_tabs_division_container">
				<h2>{{localize 'rank.division'}}:</h2>
				<ul id="watch_tabs_division" class="nav nav-tabs">
					<li role="select" data-value="bronze" class="bronze active"><a>{{localize 'rank.bronze_division_name'}}</a></li>
					<li role="select" data-value="silver" class="silver"><a>{{localize 'rank.silver_division_name'}}</a></li>
					<li role="select" data-value="gold" class="gold"><a>{{localize 'rank.gold_division_name'}}</a></li>
					<li role="select" data-value="diamond" class="diamond"><a>{{localize 'rank.diamond_division_name'}}</a></li>
					<li role="select" data-value="elite" class="elite"><a>{{localize 'rank.elite_division_name'}}</a></li>
				</ul>
			</div>
		</div>
		<div class="modal-body clearfix">
			<div class="content-region">
				<!-- MARIONETTE REGION -->
			</div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
	<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
