<div class="modal-dialog">
    <button type="button" class="btn btn-clean btn-user-cancel btn-cancel-primary"></button>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="header-dashed-text modal-title">{{localize 'profile.change_avatar'}}</h4>
        </div>
        <div class="modal-body">
            <div class="prompt-form portrait-list">
								{{#each _cosmetics}}
										<div class="portrait-container">
											<button class="portrait prompt-submit {{#if _canPurchase}}purchasable{{else}}{{#unless _canUse}}disabled{{/unless}}{{/if}}" data-cosmetic-id="{{id}}" data-sale-id="{{sale_id}}" data-sale-price="{{sale_price}}">
													<img src="{{imageForResourceScale img}}" />
													{{#if _canPurchase}}
														<div class="locked-label">
																<i class="fa fa-lock"></i>
																{{localize 'profile.click_to_unlock'}}
														</div>
													{{/if}}
											</button>
											{{#if _canPurchase}}
												{{#if sale_id}}
														<div class="sale-badge">
																<span> {{localize key='profile.percent_off' discount=sale_discount_percent}}</span>
														</div>
												{{/if}}
											{{/if}}
                    </div>
								{{/each}}
            </div>

            <div class="prompt-submitted">
                <div class="activity-animation"><div class="activity-animation-image"></div></div>
                <h2 class="prompt-title">{{localize 'common.loading_dialog_one_moment_label'}}</h2>
            </div>

            <div class="prompt-success">
                <div class="icon-container"><i class="fa fa-check"></i></div>
                <h2 class="prompt-title">{{localize 'common.success_title'}}</h2>
                <p class="prompt-message">{{localize 'profile.avatar_update_success_msg'}}</p>
            </div>

            <div class="prompt-error">
                <div class="icon-container"><i class="fa fa-times"></i></div>
                <h2 class="prompt-title">{{localize 'common.error_occurred_title'}}</h2>
                <p class="prompt-message error-message"></p>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
