<div class="media-body">
    <h6 class="media-heading modifier-header">{{name}} {{#compare stacks ">" 1}}x{{stacks}}{{/compare}} {{#compare durability ">" 1}}({{durability}}/{{maxDurability}}){{/compare}}</h6>
    <p class="modifier-description">{{description}}</p>
    <p class="modifier-source">Given by {{source}}</p>
</div>