<div class="background" style="background-image: url({{imageForResourceScale img}})"></div>

<div class="sliding-panel-content">
	{{#if isAvailableToday}}
		{{#unless isAvailableTommorrow}}
			<div class="availability-info">
				<div>{{name}} is open for:</div>
				<div class="countdown-available-for"></div>
			</div>
		{{/unless}}
	{{else}}
		<div class="availability-info">
			<div>Available on: <strong>{{getNextAvailableDate}}</strong></div>
			<div class="countdown-until-available"></div>
		</div>
	{{/if}}
	{{#if softAvailableOnDate}}
			<div class="availability-info">
          <div>Available on: <strong>{{getNextAvailableDate}}</strong></div>
          <div class="countdown-until-available"></div>
			</div>
	{{/if}}
	{{#if softDisableOnDate}}
      <div class="availability-info">
          <div>{{name}} is open for:</div>
          <div class="countdown-available-for"></div>
      </div>
	{{/if}}
	<div class="name">{{name}}</div>
	<div class="description">
		<hr class="shine">
		<div>{{description}}</div>
	</div>
</div>

<div class="locked-label"><i class="fa fa-lock"></i> {{#if unlockMessage}}{{{unlockMessage}}}{{else}}Not Available{{/if}}</div>

<!--
<div class="sliding-panel-active-content"></div>
-->
