<h2 class="title">{{#if title}}{{title}}{{else}}Daily Quest{{/if}}</h2>
<p class="instructions">{{quest_instructions}}</p>
<div class="progress">
	{{progress}} / {{params.completionProgress}}
</div>
<button class="dismiss"></button>
