<div class="dialog-background"></div>

<div class="dialog-content">
    <div class="dialog-header">
        <div class="image">
            <img src="{{imageForResourceScale challenge.iconUrl}}"/>
        </div>
    </div>
    <div class="dialog-body">
        <div class="challenge-name">{{localize 'challenges.retry_challenge_title'}}</div>
        <div class="challenge-difficulty">{{challenge.difficulty}}</div>
        <div class="challenge-description">{{challenge_hint}}</div>
        <button class="btn btn-clean btn-clean-secondary retry">{{localize 'challenges.retry_challenge_button_label'}}</button>
    </div>
    <div class="dialog-footer"></div>
</div>
